<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

<form action= "/" method="POST">
	<input type="text" name="quote" placeholder="Quote">
    <input type="text" name="author" placeholder="Author Name">
    <input type="text" name="age" placeholder="Author Age">
    <br>
    <input type="submit" value="Submit">
</form>

<!-- Create your form here!
 -->
 
</body>
</html>